<nav>
    <h1>Test nav title</h1>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>

    {{#if sess.logged_in}}
    <p>Hello {{sess.user_id}}</p>
    <a href="#" id="logout">Logout placeholder</a>
    
    {{else}}
    <a href="/loginSignUp">Login placeholder</a>
    <a href="/loginSignUp">SignUp placeholder</a>
    {{/if}}
</nav>

