<div class="row">
  
  <div class="col-8">
    {{#each allPosts as |post|}}
      <div class="row">
        <a href="/post/{{@index}}" class="card-link">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">{{post.content}}</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>

  <div class="col-4">
    {{#if sess.logged_in}}
      <form>
        <label for="newPostTextArea">Create a new post:</label><br />
        <input type="text" id="newPostTitleInput" placeholder="Post title" /><br
        />
        <textarea
          id="newPostTextArea"
          name="newPostTextArea"
          rows="4"
          cols="50"
          placeholder="Post body"
        ></textarea><br />
        <button id="submitPostButton">Submit new post</button>
      </form>

    {{/if}}
  </div>

</div>