<form>
  <h2>Log in</h2>
  <label for="userFieldLogin">Username:</label><br />
  <input type="text" id="userFieldLogin" name="userFieldLogin" /><br />

  <label for="passwordFieldLogin">Password:</label><br />
  <input type="password" id="passwordFieldLogin" name="passwordFieldLogin" /><br
  />
  <button id="loginButton">Log in</button>
</form>

<form>
  <h2>Sign Up</h2>
  <label for="userFieldSignUp">Username:</label><br />
  <input type="text" id="userFieldSignUp" name="userFieldSignUp" /><br />

  <label for="passwordFieldSignUp">Password:</label><br />
  <input
    type="password"
    id="passwordFieldSignUp"
    name="passwordFieldSignUp"
  /><br />
  <button id="signupButton">Sign up</button>
</form>